@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&family=Righteous&family=Roboto+Mono:wght@300;400&display=swap');

:root{
    --cor-do-texto: rgb(255, 255, 255);
}

/*soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/fundo2.jpg');
    background-size: 100vw auto;
    height: 100vh;
    font-size: 12px;
    /* color: wheat; */
    color: var(--cor-do-texto);
    font-family: 'Roboto Mono', monospace;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

/*breakpoint*/
@media (min-width: 1200px){
    body{
        font-size: 20px;
    }
}

a{
    /* color: cornsilk; */
    color: rgb(3, 58, 58);
    text-decoration: none;
}

.container{
    background-color: rgba(3, 3, 3, 0.527);
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu li a{
    padding: 10px 20px;
    display: block;
    transition: background-color 1s;
}

.menu li a:hover,
.menu li a:active{
    background-color: rgb(3, 58, 58);
    color: white;
}

.titulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    from{
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-titulo,
.site-subtitulo{
    color: var(--cor-do-texto);
    text-align: center;
}

.site-titulo{
    font-size: 4em;
    font-family: 'Righteous', cursive;
}

.site-subtitulo{
    font-style: italic;
    font-family: 'Inconsolata', monospace;
    line-height: 1.8em;
}

.portfolio,
.contato{
    padding: 2em;
    min-height: 100vh;
}

.portfolio h2,
.contato h2{
    font-family: 'Roboto Mono', monospace;
    color: var(--cor-do-texto);
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio .grid{
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(4, 150px); */
}

@media (min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid{
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-items: center;
        height: calc(100vh - 8em -48px);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portifolio{
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left top;
}

